:root {
  --holberton-color: #e0344c;
  --default-font: Sans-serif;
}

.App {
  font-family: var(--default-font);
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
