.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 3px solid var(--holberton-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-style: italic;
}
