.menuItem {
  position: absolute;
  top: 15px;
  right: 5px;
}

div .Notifications {
  position: absolute;
  top: 40px;
  right: 5px;
  border: 1px dashed var(--holberton-color);
  padding: 20px;
  width: 400px;
}

[data-notification-type="default"] {
  color: blue;
}

[data-notification-type="urgent"] {
  color: red;
}
